body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
    background-color: #ecff82;
}

#game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;

}

#game-title{
    font-size: 35px;
    font-weight: bolder;

}

.instruction{
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.grid-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.grids {
    display: flex;
    flex-wrap: wrap;
    min-width: 500px;
    min-height: 500px;
    max-width: 500px;
    max-height: 500px;
    border: 4px black solid;
    margin-bottom: 50px;
    padding: 0px;
}

.grid-child {
   border: 1px black solid;
} 

.grid-size {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  background-color: #ebf89f;
}

.grid-size:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .button-54 {
    padding: 0.25em 0.75em;
  }
}

.reset{
  background-color: #ecff82;
  border: 1px solid rgb(209,213,219);
  border-radius: .5rem;
  box-sizing: border-box;
  color: #111827;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: .75rem 1rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-39:hover {
  background-color: rgb(249,250,251);
}

.button-39:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.button-39:focus-visible {
  box-shadow: none;
}
